@model infoSys.Models.Formation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBegin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormationDesig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormationDesig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormationOrganization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormationOrganization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormationSkills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormationSkills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resume.ResumeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
